{% extends 'admin.html.twig' %}

{% block content %}
{{dump(goodie)}}
    <div class="uk-flex">
        <h3 class="admin-h3-goodie-edit uk-text-lead uk-flex-auto">Modifier un goodie</h3>
        <a class="admin-retour-goodies uk-button uk-button-default uk-width-1-6 uk-align-right" href="/admin/GoodiesAdmin">Tous les goodies</a>
    </div>
    <section class="admin-goodies-form">
    {% include 'Admin/GoodiesAdmin/Includes/_form_admin_goodie.html.twig' with {'edit': "Modifer le goodie"} %}
    </section>

{% endblock %}