{% extends 'layout.html.twig' %}

{% block content %}
        <h1 class="uk-heading-line uk-text-center"><span>Les Assoiffés ùf Elsass</span></h1>

    <div class="card-group uk-card uk-card-default uk-card-body">
        <h3 class="uk-card-title">Histoire du groupe:</h3>
        <p>Le groupe a été créer en 1986 par Philippe Metz et David Weber, dans ce quintet du pays de Barr, deux générations de musiciens célèbrent leur amour du rock et leur attachement au dialecte. Des thèmes intemporels sur une musique résolument actuelle. Leur premier album "A Stùrz e de Nàcht" sort en 2016,et génère toute une série de concerts de part et d'autre du Rhin et mène le groupe jusqu'aux Etats-Unis.Deux autres albums sont sortis depuis.</p>
    </div>

    <section class="uk-heading card-heading">
        <h2>Membres du groupe:</h2>
    </section>
     
    {% for artist in artists %}    
        <div class="card-artist uk-card uk-card-default uk-child-width-1-1" uk-grid>
            <div class="uk-card-media-left uk-cover-container">
                <img src="assets/images/{{ artist.img }}" alt="{{ artist.name }}" uk-cover>
                <canvas width="600" height="400"></canvas>
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">{{ artist.name }}:</h3>
                <p>{{ artist.desc }}</p>
            </div>
        </div>
    {% endfor %}    
{% endblock %}