<aside class="uk-width-1-1 admin-aside">
	<h1 class="uk-heading-line uk-text-left admin-h1">
		Espace administrateur
	</h1>
	<nav class="uk-navbar admin-navbar">
		<ul class="uk-nav uk-nav-default">
			<li>
				<a href='/' target="_blank">Home</a>
			</li>
			<li>
				<a href='/admin/dashboard'>Dashboard</a>
			</li>
			<li>
				<a href='/admin/DiscoAdmin'>Gestion de la discographie</a>
			</li>
			<li>
				<a href="/admin/actusadmin">Gestion des actualités</a>
			</li>
      <li>
				<a href='/admin/dashboard'>Gestion des concerts</a>
			</li>
      <li>
				<a href='/admin/GoodiesAdmin'>Gestion des goodies</a>
			</li>
			<li>
				<a href='/admin/UsersAdmin'>Gestion des utilisateurs</a>
			</li>
      <li>
				<a href='/admin/messages'>Gestion des messages</a>
			</li>
			<li>
				<a href='/logout' uk-icon="sign-out">Logout</a>
			</li>
		</ul>
	</nav>
</aside>