{% extends 'layoutAside.html.twig' %}

{% block content %}
    <section class="home_container uk-width-1-2@s uk-text-center">
        <h1>Hello Wilder !</h1>
        <p>Find a complete CRUD example on <a href="/items">/items</a> page.</p>
    <section>
{% endblock %}
        
        
        