{% extends 'layoutAside.html.twig' %}

{% block content %}
    <section class="uk-width-1-2@s uk-text-center">
        <h1 class="uk-heading-line uk-text-center disco-heading-line"><span>Goodies</span></h1>
        <h3 class="subtitle-goodies">Voici nos goodies disponibles pendant nos concerts !</h3>
        <div class="goodies uk-child-width-1-3@l uk-child-width-1-2@m" uk-grid>
            {% for goodie in goodies %}
                <a href="#modal-container{{goodie.id}}" class="cards uk-text-decoration-none  uk-transition-toggle " uk-toggle>
                    <div class="card_goodies uk-card uk-card-default uk-flex uk-flex-column uk-flex-middle" >
                        <div class="uk-card-media-top card_goodie_top" tabindex="0">
                        <div class="uk-position-large uk-position-center uk-panel"><h1 class="text-hover-goodies uk-transition-slide-bottom-small uk-text-bolder">En voir plus</h1></div>  
                            <img class="img-card-goodie" src="assets/images/goodies/{{ goodie.picture }}" alt="goodies">
                        </div>
                        <div class="uk-card-body uk-padding-small uk-visible@m"> 
                            <h3 class="text-card-goodies uk-card-title uk-text-bolder ">{{ goodie.designation }}</h3>
                        </div>
                    </div> 
                </a>
                {% include 'Include/Goodies/_modal_goodie.html.twig' %}
            {% endfor %}
        </div>
    <section>
{% endblock %}