{% extends 'admin.html.twig' %}

{% block content %}
	<a class="uk-button uk-button-secondary uk-align-right" href="/admin/actusadmin" style="border-radius:0.5rem">Tous les concerts</a>
	{% include 'Admin/ConcertAdmin/_form.html.twig' %}
{% endblock %}
