aside input {
    color: black;
}

ul.aside_list, ul.aside_errors {
    margin-top: 0.3rem;
    margin-bottom: 0;

}

aside h3 {
    margin-bottom: 0;
}

aside ul {
    margin-top: 0;
    list-style-type: none;
    padding-left: 0;
}

ul.aside_list_reseau>li {
    margin: 0.2rem;
}

aside a:hover {
    text-decoration: none;
    color: var(--primary);
}

aside .uk-svg {
    fill: var(--secondary);
    width: 2rem;
}

aside .uk-svg:hover {
    fill: var(--primary);
}

aside button.uk-button {
    color: var(--secondary);
}

aside button.uk-button:hover {
    background-color: var(--primary);
}