.formPassword {
    background-color: var(--cards_background);
    border-radius: .2rem;
    border: 1px solid var(--secondary);
    width: 20rem;
}

.buttonPassword {
    color: var(--secondary);
    border-radius: .2rem;
    border: 1px solid var(--primary);
    font-size: 18px;
}

section.sectionPassword {
    height: 71.4vh;
}



