body {
    background-color: var(--background);
}

h1, h2 {
    color: var(--secondary);
}

.uk-card {
    background: var(--cards_background);
    margin-left: 10rem;
    margin-top: 5rem;
    border-radius: .5rem;
    margin-right: 10rem;
}

.uk-card-body {
    padding: 30px;
    background-color: var(--cards_background);
    font-size: 20px;

}

[class*=uk-width] {
    padding-left: 30px;
}

.uk-card-default .uk-card-title {
    color: var(--primary);
}

section {
    margin-top: 5rem;
    margin-left: 12rem;
}

.uk-card img {
    border-bottom-left-radius: .5rem;
    border-top-left-radius: .5rem;
}

@media (max-width: 768px) { 
    .uk-card {
    margin-left: 5rem;
    margin-right: 5rem;
    }
    section {
        margin-left: 7rem;
    }
}

@media (max-width: 425px) { 
    .uk-card {
    margin-left: 1rem;
    margin-right: 1rem;
    }
    section {
        margin-left: 3rem;    
    }
}


