.concert-heading-line {
    font-family: var(--font-family);
    margin-bottom: 5rem;
}

.concert-card
{ 
    background-color: var(--cards_background);
    font-size: 18px;
    margin-top: 10rem;
    width: 800px;
    color: var(--background)!important;
    padding-left: 1rem;
    border-radius: 0.5rem;

}
.concert-card-body {
    color: var(--background);

}
.concert-button {
    background-color: var(--primary);
    color: var(--secondary);
    font-family: var(--font-family);
    border: none;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}