@import url("https://cdn.jsdelivr.net/npm/uikit@3.17.5/dist/css/uikit.min.css");

@import url("_variables.css");
@import url("_global.css");
@import url("_navbar.css");
@import url("_footer.css");
@import url("discography.css");
@import url("actus.css");
