<footer class="uk-padding uk-grid_column-small uk-grid-row-small uk-child-width-1-3@s uk-text-center uk-text-middle" uk-grid>
    <div class="">contact@assoifés.alsace</div>
    <div class="">
        <a href="https://www.facebook.com/dGruppa.lesassoiffes/?locale=fr_FR"><img src="/assets/images/icons/Icone_Facebook.svg" alt="Logo Facebook" uk-svg></a>
        <a href="https://www.instagram.com/les_assoiffes/"><img src="/assets/images/icons/Icone_Instagram.svg" alt="Logo Instagram" uk-svg></a>
        <a href="https://www.youtube.com/@LesAssoiffes"><img src="/assets/images/icons/Icone_Youtube.svg" alt="Logo Youtube" uk-svg></a>
        <a href="https://www.deezer.com/fr/artist/11028066"><img src="/assets/images/icons/Icone_Deezer.svg" alt="Logo Deezer" uk-svg></a>
        <a href="https://open.spotify.com/intl-fr/artist/2oF6u86mwMTZPhkmP0HWAx"><img src="/assets/images/icons/Icone_Spotify.svg" alt="Logo Spotify" uk-svg></a>
    </div>
    <div class="uk-flex-first@s">© 2023 by Les Assoifés - LSP</div>
</footer>