{% extends 'admin.html.twig' %}

{% block content %}
	<a class="uk-button uk-button-secondary uk-align-right" 
    href="/admin/actusadmin" style="border-radius:0.5rem">Toutes les actualités</a>
	{% include 'Admin/ActusAdmin/editform.html.twig' %}
{% endblock %}