<form method="post" enctype="multipart/form-data">
	<fieldset class="uk-fieldset">

		<legend class="uk-legend admin-legend">Modifier une actualité</legend>

		<div class="uk-margin">
			<input class="uk-input" type="text" name="title" placeholder="Titre" value="{{ new.title }}" aria-label="Input">
		</div>

		<div class="uk-margin">
			<textarea class="uk-textarea" rows="5" name="description" 
			placeholder="Description" aria-label="Textarea">{{ new.description }}</textarea>
		</div>

        <div class="uk-margin">
			<select name="category_id" class="uk-select admin-select-categorie">
				<option value="1">Evénement</option>
				<option value="2">Concert</option>
			</select>
        </div>

		{% if new.image is defined %}
			{% set image = new.image %}
		{% else %}
			{% set image = "../assets/images/cigognelesaccoifés.jpg" %}
		{% endif %}

		<div class="uk-margin">
			<div uk-form-custom>
				<input type="file" aria-label="Custom controls" name="image[]" 
				id="image" accept="image/jpeg, image/jpg, image/png, image/webp">
				<button class="uk-button uk-button-default" uk-icon="download" type="button" 
				tabindex="-1">Télécharger une nouvelle image</button>
			</div>
		</div>

		{% if new.id is defined %}
			{% set button = "Modifier" %}
		{% else %}
			{% set button = "Mettre à jour" %}
		{% endif %}

		<input type="hidden" name="id" value="{{ new.id }}">

		<div class="uk-margin">
			<button type="submit" name="submit" class="uk-button uk-button-primary contact-insc-button 
			admin-ajout-button">{{button}} l'actualité</button>
		</div>
	</fieldset>
</form>
